/.DS_Store
/.idea
/.vscode
/.zed
/.fleet
/.phpunit.cache
/.phpunit.result.cache
/.vite
/.env
/.env.backup
/.env.production
/.env.staging
/.env.testing
/.phpactor.json
/auth.json
/npm-debug.log
/yarn-error.log
/yarn-debug.log
/node_modules
/vendor
/public/build
/public/hot
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/debugbar
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
