$rosa: #ffbdcd;
$rojo: #FC1048;
$rojo-cl: #fc668a;
$rojo-osc: #93112F;
$amarillo: #FFC700;
$azul-cl: #0075ff1a;
$azul: #0075ff80;
$verde-cl: #68cb0226;
$verde: #68cb0280;
$gris-0: #ebebeb;
$gris-1: #D9D9D9;
$gris-2: #8E8E8E;

$base: #393939;