footer {

    color: $base;
    padding: 2rem 0;
    background-color: $gris-1;
    margin-top: auto;

    .col-12 {

        padding-top: 10px;
    }

    .logo {

        width: 120px;
    }

    p, a {

        font-size: .85rem;
        color: $base;
    } 

    a {

        font-weight: 600;
    } 

    ul.navbar-nav {

        flex-direction: row;
        gap: 1rem;

        a {

            color: $base;
        }
    }
}


@media (min-width: 768px) {

    footer {

        padding: 1rem 0;

        .col-12 {

            padding-top: 30px;
        }        
    }
}