.layout-navbar-fixed.layout-fixed .wrapper {

    .sidebar-admin {

        background-color: $gris-1;
        //background-color: $rojo;

        a.brand-link {

            background-color: $gris-1;
            //background-color: $rojo;
            border: none;
            //border-bottom: 1px solid $rojo-osc;
            position: static;
            text-decoration: none;
            height: 95px;
            display: flex;

            .logo-ecam {

                width: 200px;
                max-width: 100%;
                opacity: 1 !important;
            }
        }

        &:hover {

            a.brand-link {

                width: 100% !important;
            }
        }

        .sidebar {

            margin-top: 0;
            padding-top: 20px;

            a, .nav-header {

                color: black;
                //color: white;
            }

            .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
                
                background-color: white;
                //background-color: $rojo-osc;
            }

            .nav-sidebar>.nav-item.menu-open>.nav-link,
            .nav-sidebar>.nav-item:hover>.nav-link,
            .nav-sidebar>.nav-item>.nav-link:focus {

                background-color: $gris-0;
                //background-color: $rojo-osc;
            }

            .nav-treeview>.nav-item>.nav-link {
                
                background: none;
                color: black;
                //color: white;
                width: auto;
                padding-left: 2.5rem;

                &:hover, &:focus, &.active {

                    background-color: $gris-0;
                    //background-color: rgb(147 17 47 / 50%);
                }
            }
        }

        .nav-header {
            font-weight: 600;
            margin-top: 16px;
        }

        .nav-item {

            .fa-fw {
                
                margin-right: .5rem;
            }
        }
    }
}